body {
	font-family: "Inter";
	color: #ffffff;
}

.header {
	padding-top: 55px;
	padding-left: 146px;
	background-image: url(../img/backround.png);
	background-position: center;
	background-size: cover;
	nav {
		ul {
			display: flex;
			list-style: none;
			gap: 15px;
		}

		li {
			font-weight: 200;
			font-size: 24px;
			line-height: 29px;
		}
	}
	h1 {
		font-weight: 200;
		font-size: 70px;
		line-height: 85px;
		width: 561px;
		padding-top: 71px;

		& + p {
			font-weight: 300;
			font-size: 21px;
			line-height: 25px;
			width: 570px;
			margin: 22px 0 49px;
		}
	}

	.btn {
		background-color: #b47b48;
	}

	& .btn-header {
		padding: 16px 34px 16px 34px;
		border-radius: 17px;
		border: none;
	}

	& .btn {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #ffffff;
	}

	.cards,
	.cards * {
		box-sizing: border-box;
	}

	.cards {
		display: flex;
		justify-content: space-between;
		width: 80%;
		height: 225px;
		margin-top: 125px;

		.card {
			width: 310px;
			background: #272727;
			display: flex;
			align-items: center;
			&:hover {
				background: #ebad51;
			}

			div {
				text-align: center;
				width: 100%;
				p {
					@include textStyle(200, 24px, 29px);
					padding-bottom: 13px;
				}

				h5 {
					@include textStyle(500, 16px, 19px);
					padding-bottom: 35px;
				}
				button {
					@include textStyle(900, 16px, 19px);
					color: white;
					background: #c85312;
					border: none;
					padding: 10px 22px 5px;
				}
			}
			&:nth-of-type(1) img {
				width: 162px;
			}

			&:nth-of-type(2) img {
				width: 215px;
			}
		}
	}
}

.menu {
	background: url(../img/backraund-menu.png);
}
