.modal {
	border: 2px solid black;

	width: 990px;
	height: 669px;
	background: #ffffff;
	border-radius: 50px;

	position: fixed;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
	@include flexCenter();

	form {
		display: flex;
		flex-direction: column;
	}
}
